@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

::-webkit-scrollbar {
    display: none;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #e86a6a;
}

body {
    height: auto;
    background-color: #181818;
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.text-container {
    display: inline-block;
    vertical-align: top;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.search-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
    width: 250%;
    background-color: #2d2d2d;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    height: 50px;
}

input[type="text"] {
    flex: 1;
    padding: 15px;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    background-color: transparent;
    border-radius: 30px;
    width: 100%;
    outline: none;
}

button {
    background-color: #FFFFFF;
    color: #555555;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #BBBBBB;
    color: #333333;
}

h1 {
    color: white;
    margin: 0;
    font-size: 55px;
    font-weight: bold;
}

#output-container {
    margin-top: 50px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.loading-text {
    color: white;
    font-size: 6rem;
}

.download-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.description {
    color: #FFFFFF;
    font-size: 1.5rem;
    text-align: center;
}

.footer {
    color: #FFFFFF;
    font-size: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    background-color: #181818;
    color: white;
    position: relative;
}

/* responsive */
nav.active {
    flex-direction: column;
    align-items: flex-start;
}

nav h2.logo {
    font-weight: bold;
    font-size: xx-large;
}

nav .bars {
    position: absolute;
    right: 1rem;
    font-size: xx-large;
    display: none;
}

ul.nav-links {
    display: flex;
}

/* responsive */
nav.active ul.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

li.nav-link {
    list-style: none;
    margin: 0.5rem 1rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
}

li.nav-link:hover {
    background-color: #ccc;
    color: #333;
}

li.nav-link.auth {
    border: 2px solid white;
    border-radius: 1rem;
}

li.nav-link a {
    text-decoration: none;
    color: inherit;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: large;
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    nav .bars {
        display: block;
    }

    nav .nav-links {
        display: none;
    }
}

/* Tablets and larger screens */
@media only screen and (max-width: 768px) {
    .container {
        height: auto;
        padding: 50px 20px;
    }

    .logo-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .text-container {
        margin-bottom: 20px;
    }

    .search-box-container {
        margin-top: 20px;
    }

    .search-box {
        width: 100%;
    }

    input[type="text"] {
        padding: 10px;
        font-size: 16px;
    }

    button {
        padding: 20px 15px;
        font-size: 16px;
        margin-left: 0;
        margin-top: 0px;
    }

    h1 {
        font-size: 40px;
    }

    #output-container img {
        max-width: 100%;
        height: auto;
    }

    .loading-text {
        font-size: 4rem;
    }
}


@media only screen and (max-width: 480px) {
    .loading-text {
        font-size: 3rem;
    }
}